@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,200;1,600&display=swap');


*{

    margin : 0;
    padding: 0;
}

body {
    background: #1a1405;
    color: #fff;
    font-family: 'Montserrat', sans-serif;

}

body.site{
display: flex;
flex-direction: column;
min-height: 100vh;

}

body.site .container{
    flex-grow: 1;
}

.cabecalho {

   margin: 2% 10% 2% 10%;  
}


.cabecalho nav {

    display: flex;

    gap: 05px;

 }


 .cabecalho nav a{

    text-decoration: none;

    color: #ffffff;


 }



.container {
    display: flex;
    flex-direction: row;
    /* width: 1023px */
    margin: 5% 10% 10% 10%;
}

/* CONTAINER */

/* CONTEUDO */

.container .conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.container .avatar {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container .conteudo h1 span{

    font-family: 'Krona One', sans-serif;

    font-weight: 600;

    color: darkslategrey;
  
}

.container .conteudo p{

    font-size: 1.5rem;
    line-height: 1.8rem;
}
.container .conteudo .redes-sociais{
    display: flex;

    flex-direction: column;
    
    align-items: center;

    
}

.container .conteudo .redes-sociais a{

    width: 200px;

    border: solid 1px khaki;

    padding: 8px 0px;

    text-align: center;

    color: #ffffff;

    font-weight: 600;

    text-decoration: none;

    border-radius: 8px;
}

.rodape{
    display: flex;
    height: 80px;
    background-color: rgb(48, 46, 17);
    text-align: center;
    align-items: center;
    justify-content: center;
}
/* RESPONSIVO */

@media(max-widht:800px){
    body{
        background-color: aquamarine;
    }

}

 
